* {
	box-sizing: border-box;
	color: #252525;
}

body {
	font-family: "Helvetica Neue",
		Arial,
		"Hiragino Kaku Gothic ProN",
		"Hiragino Sans",
		Meiryo,
		sans-serif;
}

h1 {
	margin: 42px 0;
	text-align: center;
	font-size: 2.4rem
}

p {
	margin: 0 0 12px 0;
}

a:not(.card) {
	font-weight: bold;
}

.spacer {
	padding: 16px 0;
}

.description {
	background: #f5f4fb;
	padding: 16px;
	border-radius: 8px;
}

.small {
	font-size: 0.8rem;
	margin: 0;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
	margin-top: 64px;
}

.cards .card {
	flex: 1;
	min-width: 32%;
	max-width: 32%;
	border: 1px solid #e6e6e6;
	padding: 12px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	min-height: 100px;
	margin-bottom: 15px;
	overflow: hidden;
	text-decoration: none;
	color: #252525;
}

.card:hover {
    background: #f5f4fb;
}

.card.dummy {
	border: none;
}

@media(max-width: 720px) {
	.cards .card {
		min-width: 45%;
		max-width: 45%;
	}
}

@media(max-width: 460px) {
	.cards .card {
		min-width: 100%;
		max-width: 100%;
	}
}


.container {
	max-width: 800px;
	padding: 24px;
	margin: 0 auto;
}

.card .img {
	margin: -12px;
	width: calc(100% +24px);
	margin-bottom: 12px;
	padding-top: 75%;
	position: relative;
}
.card .img:hover {
	transform: scale(1.05);
	transition: all 0.4s;
}


.card .img i.material-icons {
    position: absolute;
    right: 6px;
    top: 6px;
    color: #fff;
	font-weight: bold;
}

.card .title{
	cursor:pointer;
}
.card .title .material-icons {
    font-size: 1rem;
    padding-left: 4px;
    position: relative;
    top: 2px;
}


.card .notice{
	position: fixed;
	left:50vw;
	transform:translateX(-50%);
	bottom:5vh;
	width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background-color:#7ca954;
	color: #ffffff;
	font-size:1.5rem;
	font-weight: bold;
	z-index: 10;
	transition: opacity 0.5s ease;
}

.card .fade{
	opacity: 0;
}

